@{
    ViewBag.Title = "General";
}

<table style="width: 100%; font-family: Calibri">
    <tbody><tr>
        <td style="width:100%">
            <span style="width: 90%; font-weight: bold; font-family: Calibri; color: #333; font-size: 24px">Demo - @ViewBag.keywords</span>
        </td>
    </tr>
    <tr><td><br><br>    
        //code
    </td></tr>
    <tr><td><br><br>
    <div>
        <p style="font-size:18px;font-weight:bold">
            Quick information
        </p>
        <pre style="font-size:16px;background-color:transparent;font-family:calibri">
            //text

        </pre>
    </div>
        
    </td></tr>
</tbody></table>
