@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2><br />

<table style="width:100%;font-size:16px">
    <tr style="width:90%" align="left">
        <td align="center" style="width:90%;padding-left:10px;padding-top:5px">
            <table style="width: 100%; font-family:Calibri;" align="left">
                <tr>
                    <td colspan="3" align="left">

                        <p>
                            <span>
                                We are based out of New York, New Jersey area in USA. We have been creating software
                                applications for more than a decade now.
                            </span>
                        </p>
                        <br />
                        <p>
                            <span>
                                CodeAnalyze is not our business, during our regular course of work we always strongly felt that users who
                                post good articles, questions, answers and more, should be rewarded by some means as a mark of
                                appreciation. This is because without these code articles today it would have been almost impossible to
                                create an application or do our work at office.
                            </span>
                        </p>
                        <br />
                        <p>
                            <span>
                                Then finally we created this application where in
                                we thought we will dedicatedly reward code bloggers by emailing Amazon Gift
                                Cards as the best thing to do.
                            </span>
                        </p>


                        <p style="color:Red">
                        </p>

                        <p style="line-height:normal">
                            <span>&nbsp;  </span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            &nbsp;<u><a href="Credits.aspx" style="font-weight:bold;color:Blue;">Check Rewards</a></u>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="left">

                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution22" style="width:25%">
                        C#
                    </td>
                    <td align="left" class="solution22" style="width:25%">
                        Mainframes
                    </td>
                    <td align="left" class="solution22" style="width:25%">
                        Windows Servers
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution22" style="width:25%">
                        Java
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Cobol
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        mysql
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        PHP
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        &nbsp;JCL
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Oracle
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        IIS
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Sharepoint
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        MSSQL
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        VB.NET
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        jquery
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        iPhone
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        ASP.NET
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Android
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Python
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        C++
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        CSS
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        html
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        Ruby
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Linux
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Perl
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        XML
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Struts
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Swings
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" style="width:25%">
                        Linq
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        Apache
                    </td>
                    <td align="left" class="solution2" style="width:25%">
                        javascript
                    </td>
                </tr>
                <tr>
                    <td align="left" class="solution2" colspan="3"></td>
                </tr>

            </table>
        </td>
    </tr>

</table>