@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2><br />

<table style="width:100%;font-size:16px">
    <tr style="width:90%" align="left">
        <td align="center" style="width:90%;padding-left:10px;padding-top:5px">
            @*<table style="width:80%;">
                <tr>
                    <td><img alt="" src="~/Images/Tools/android.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/apache.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/aspnet.jpg" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/csharp.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/iis.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/java.png" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/jquery.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/linux.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/mianframe.png" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/mysql.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/oracle.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/perl.jpg" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/php.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/sharepoint.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/sqlserver.png" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/vbnet.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/visualstudio.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/xcode.jpg" style="height: 75px; width: 100px" /></td>
                </tr>
            </table>*@
            <table style="width: 100%; font-family:Calibri;" align="left">
                <tr>
                    <td colspan="3" align="left">

                        <p>
                            <span>
                                We are based out of New York, New Jersey area in USA. We have been creating software
                                applications for more than a decade now.
                            </span>
                        </p>
                        <br />
                        <p>
                            <span>
                                During our regular course of work we always strongly felt that users who
                                post good articles, questions, answers and more, should be rewarded by some means as a mark of
                                appreciation. This is because without these code articles today it would have been almost impossible to
                                create an application or do our work at office.
                            </span>
                        </p>
                        <br />
                        <p>
                            <span>
                                Then finally we created this application where in
                                we thought we will dedicatedly reward code bloggers by emailing Amazon Gift
                                Cards as the best thing to do.
                            </span>
                        </p>


                        <p style="color:Red">
                        </p>

                        <p style="line-height:normal">
                            <span>&nbsp;  </span>
                        </p>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            &nbsp;<u><a href="/Home/Rewards" style="font-size:22px;font-weight:bold;color:Blue;">Check Rewards</a></u>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="left"style="font-size:18px;">
                        Blog on following widely used technologies <br/><br />
                    </td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/android.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/apache.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/aspnet.jpg" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/csharp.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/iis.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/java.png" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/jquery.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/linux.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/mianframe.png" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/mysql.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/oracle.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/perl.jpg" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/php.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/sharepoint.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/sqlserver.png" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td><img alt="" src="~/Images/Tools/vbnet.jpg" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/visualstudio.png" style="height: 75px; width: 100px" /></td>
                    <td><img alt="" src="~/Images/Tools/xcode.jpg" style="height: 75px; width: 100px" /></td>
                </tr>
                <tr>
                    <td align="left" class="solution2" colspan="3"></td>
                </tr>

            </table>
        </td>
    </tr>

</table>