@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/js/JavaScript1.js"></script>

<h2>Contact Us</h2><br />

<div id="Content">



@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    @*<table style="border-color:Black;border-width:1px;width:100%" cellpadding="0" cellspacing="0">
        <tr><td>&nbsp;</td></tr>
        <tr align="left">
            <td align="left" style="padding-left:30px">*@
                <table style="width:100%;font-size:16px">

                    <tr>
                        <td align="center">
                            @Html.Raw(ViewBag.Ack)                           

                        </td>
                    </tr>

                    @*<asp:Panel ID="pnlEMail" runat="server">*@
                    @if(string.IsNullOrEmpty(ViewBag.UserEMail))
                    {
                        <tr>
                            <td align="left" style="font-family: Calibri;width:200px">
                                EMail: <br />
                                @Html.TextBox("txtEMail", "", new { style = "width:40%;height:30px;border:groove;border-width:1px", @class = "myText" })
                                @*<asp:TextBox ID="txtEMail" runat="server" Width="318px" BorderStyle="Groove"></asp:TextBox>*@

                            </td>
                        </tr>
                    }
                    @*</asp:Panel>*@

                    <tr>
                        <td style="font-family: Calibri;">Message: <br />
                            @Html.TextArea("txtSuggestion", "", new { style = "width:90%;height:200px;border:groove;border-width:1px", @class = "myText" })
                            @*<asp:TextBox runat="server" ID="EditorAskQuestion" Font-Names="Calibri" Font-Size="16px"
                                BorderStyle="Groove" TextMode="MultiLine"
                                Height="200px" Width="600px" /><br />*@

                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="padding-left: 40%">
                            &nbsp;@*<asp:Button ID="btnSubmit" runat="server" Text="Submit" 
                                OnClick="PreviewButton_Click" BackColor="#F5E8AA" BorderStyle="None"  ForeColor="White"
                                    Font-Bold="True" ValidationGroup="1" />*@ <br />
                            <input type="submit" value="Submit" id="btnSubmit" onclick="return ValidateSuggestion()" class="mysubmit" />
                        </td>
                    </tr>
                    @*<tr>
                        <td align="right" style="font-family: Calibri; font-size: medium">
                            <table style="width:100%;">
                                <tr>
                                    <td align="left">
                                        CodeAnalyze
                                        <br />
                                        New Jersey,
                                        <br />
                                        USA
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td align="left" width="150px">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                </table>

            @*</td>
        </tr>
    </table>*@
     @Html.Hidden("hfUserEMail", (object)ViewBag.UserEMail)
}

</div>



