@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terms & Conditions</h2><br />

<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
            Terms and Conditions
        </span>
    </b><span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
    </span>
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
        </span>
    </span><span style="font-size:10.0pt;line-height:115%;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:&quot;Times New Roman&quot;">
        <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
            By
            registering or signing in or using this website you will be directly bound to
            our terms and conditions. Our
            policies are subjected to change any time without any notification to the users.
            We may update or delete any content posted here by the users if we find it to
            violate our terms and conditions. We may also delete any user account anytime if
            we find it to be inappropriate or not within our protocols.<o:p></o:p>
        </span>
    </span>
</p>
<p class="MsoNormal">
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <br style="font-family: Calibri" />
        <span style="font-family: Calibri">
            <b style="mso-bidi-font-weight:normal">
                Content
            </b>
        </span>
        <br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            The solutions, answers, articles
            posted on this website do not assure anything of the fix, using them in your
            application solely depends on you. We are not responsible for any kind of issues
            occurred like data leak or application crash or virus or anything. This is
            because information posted here are from the various users who share their
            experience.
        </span><o:p></o:p>
    </span>
</p>
<p class="MsoNormal">
    <span style="line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <span style="mso-spacerun: yes; font-size: 12pt; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;
        </span>
    </span>
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
        This is free, open blogging kind of question and answer site. Users are free to
        use this information in any way they intend to, as all these are general coding
        solutions which are defined with a global standard. User posting the article and solutions reserve's the right to
        distribute, publish or share the the content.
        <o:p>
        </o:p>
    </span>
</p>
<p class="MsoNormal">
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <span style="mso-spacerun: yes; font-family: Calibri; font-weight: bold;">&nbsp;&nbsp; </span>
        <span style="mso-bidi-font-weight:normal">
            <span style="mso-bidi-font-style:normal">
                <span style="font-family: Calibri">
                    We do not take the responsibility or we are
                    not liable of the content posted here by the users if it has a specific
                    copyright. In any such case, please report it to us from “
                    <a href="/Home/Contact" style="font-weight:bold">Contact Us</a>”, we will process it immediately.
                </span>
            </span>
        </span>
    </span><span style="mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-size: 12pt; font-family: Calibri;">
    </span><span style="mso-bidi-font-weight:normal">
        <span style="mso-bidi-font-style:normal">
            <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
                <o:p>
                </o:p>
            </span>
        </span>
    </span>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
            <span style="font-family: Calibri">Social Sites Login </span>
            <br style="font-family: Calibri" />
        </span>
    </b>
    <span style="line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <span style="mso-spacerun: yes; font-size: 12pt; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </span>
    </span>
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
        We only gather your email id, first name and last name when you sign in from
        Facebook, Google Or LinkedIn. We do not gather any other information and we do
        not distribute your details to any other organization or company or use it for
        marketing. Your details are completely secure and private with us.<o:p></o:p>
    </span>
</p>
<p class="MsoNormal">
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <br style="font-family: Calibri" />
        <b style="mso-bidi-font-weight:normal">
            <span style="font-family: Calibri">
                Rewards
            </span><br style="font-family: Calibri" />
        </b><span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            We have started with initial 5 levels
            of reward system and we hope to make it successful,

            we will be validating your posting before giving away the reward. User can
            reach us if they feel they deserve a reward but haven’t been considered yet. We
            may or we may not give an explanation on our analysis of your answers and
            articles.
        </span>
    </span>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
            Dos and Don’ts
        </span>
    </b><span style="line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <br style="font-size: 12pt; font-family: Calibri" />
    </span>
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <span style="font-family: Calibri">
            Dos<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Post good articles which is clear and easy to
            understand for others, with examples and screen shots.
        </span><br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            Ask and answer to the point and if
            possible please keep it short.
        </span><br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            Please support your answers with good
            proper links so that’s users can analyze more on the issue.
        </span><br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            Present your question, answer,
            articles clearly so that users reading it understand better.
        </span><o:p></o:p>
    </span>
</p>
<p class="MsoNormal">
    <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <span style="font-family: Calibri">Don’ts</span><br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            No posting of copyrighted articles
            unless you have a specific permission.
        </span><br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            No usage of abusive or vulgar
            language.
        </span><br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><span style="font-family: Calibri">
            No posting inappropriate links of the
            websites.
        </span><span style="mso-spacerun: yes; font-family: Calibri;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">&nbsp;&nbsp; </span>
        <o:p>
        </o:p>
    </span>
</p>
<p class="MsoNormal">
    <b style="mso-bidi-font-weight:normal">
        <span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;; font-family: Calibri;">
            Disclaimer
        </span>
    </b><span style="font-size: 12pt; line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-bidi-font-family: &quot;Times New Roman&quot;">
        <br style="font-family: Calibri" />
        <span style="mso-spacerun: yes; font-family: Calibri;">&nbsp;&nbsp;&nbsp; </span>
        <span style="font-family: Calibri">
            In any situation we are not responsible for
            any kind of loss or damage caused to you and you believe it to be from this
            website, as this is an open platform user code issue discussion site used by
            users to solve their coding issues.
        </span>
        <o:p>
        </o:p>
    </span>
</p>
<p class="MsoNormal" style="font-size: 12pt; font-family: Calibri">
    <o:p>
        &nbsp;
    </o:p>
</p>
