@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}

<h2>404 Page Not Found!!</h2>

<br />
<br />
<br />
<br />

<span style="color:red;font-weight:bold;font-size:18px">Ooops!! 404 Page not found.</span>