@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posting Guidelines</h2><br />

<table style="width:100%;">
    <tr>
        <td style="font-size: 16px">
            <strong>Do’s </strong>
            <br />
            • Try posting articles on latest technologies so that users are eased of
            learning.
            <br />
            • Supply with suitable links if possible.
            <br />
            • Differentiate code by changing it background color in article doc.
            <br />
            • Submit Youtube video links if any for reference. This video need not be yours.
            <br />
            • Keep explanation short and supply suitable code for the explanation if
            possible.
            <br />
            • Upload sample project if any, so that users can download and try the solution.
            <br />
            • Create your complete profile by adding your photo and a brief detail on your
            experience.
            <br />
            <br />
            <em>
                If most of the postings of the users are too good and if it is appreciated
                by many users than additional $5 will be rewarded.
            </em>
            <br />
            <br />
            <strong>Don’ts</strong>
            <br />
            • No posting copyrighted articles unless you have the authorized right.
            <br />
            • No posting outdated code and technologies which are not supported.
            <br />
            • Don’t include exe files in the project or executables with which articles will
            not be submitted.
            <br />
            • Size of the attachment should not be more than 3mb when sending your article.
            <br />
            • Question and Answer cannot be more than 8000 characters.
            <br />
            • No use of abusive languages.
            <br />
            • Code discussion chat platform is only for discussing code. User’s every
            activity is monitored.
            <br />
            <br />
            We will validate user’s posts before emailing Gift Card.
            <br />
            <br />
            User can reach us about any concerns and questions, we assure to resolve them
            immediately.
        </td>
    </tr>
</table>
