@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
                $(document).ready(function () {
                    var divs = $('div[id^="content-"]').hide(),
                i = 0;
                    (function cycle() {
                        divs.eq(i).fadeIn(400)
                    .delay(2000)
                    .fadeOut(400, cycle);
                        i = ++i % divs.length;
                    })();
                });
</script>

<h2>Rewards</h2><br />

 <table style="font-family: Calibri; font-size: 16px;width:100%">
    <tr>
        <td align="left">
            <p>
                <span>
                    We have started with 5 levels of reward system and we believe to
                    make it fully successful. We will be emailing you Amazon Gift Card, users can reach us if
                    they believe that they haven’t been considered yet. We will be validating your posts before emailing the rewards.
                    Take a look at <u>
                        @Html.ActionLink("Posting Guidelines", "PostingGuidelines", "Home", null, new { style = "font-weight:bold;color:Blue;" })
                    </u> <br />
                    @*<p>
                            We hope to make this code blogging more happier by making bloggers earn some rewards along with blogging.<u>
                                @Html.ActionLink("More about us", "About", "Home", null, new { style = "font-weight:bold;color:Blue;" })
                            </u>
                        </p><br />*@

        </td>
    </tr>
    <tr>
        <td align="left">
            <br />
            <table cellpadding="5" cellspacing="5" style="background-color:#ffccb3;border-radius:20px;width:70%">
                <tr><td align="center"><strong>MARK&nbsp;&nbsp;=</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[5 articles]</td></tr>
                <tr><td></td><td><b>or</b>&nbsp;&nbsp;[15 questions or answers]</td></tr>
                <tr><td></td><td><b>or</b>&nbsp;&nbsp;[(10 questions or answers) + 2 articles]</td></tr>
            </table>
        </td>
    </tr>
</table>
<br />
<table cellpadding="5" cellspacing="5" style="background-color:#b3e6ff;border-radius:20px;width:70%;font-size:16px">
    <tr>
        <td>&nbsp;&nbsp;</td>
        <td width="103">
            <b>Levels</b>
        </td>
        <td>
            @*<b>Stars</b>*@
        </td>
        <td>
            <b>Rewards</b>
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;</td>
        <td align="left">
            Contributor
        </td>
        <td align="left">
            @*<img id="Image2" src="~/Images/1star.png" style="height:20px;width:20px" />*@
        </td>
        <td align="left">
            Amazon GiftCard <strong>$5</strong> for 1st time reaching MARK
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;</td>
        <td>
            Expert
        </td>
        <td align="left">
            @*<img id="Image3" src="~/Images/2stars.png" style="height:20px;width:40px" />*@
        </td>
        <td align="left">
            Amazon GiftCard <strong>$5</strong> for 2nd time reaching MARK&nbsp;
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;</td>
        <td align="left" width="103">
            Master
        </td>
        <td align="left">
            @*<img id="Image4" src="~/Images/3stars.png" style="height:20px;width:60px" />*@
        </td>
        <td align="left">
            Amazon GiftCard <strong>$10</strong> for 3rd time reaching MARK&nbsp;
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;</td>
        <td align="left" width="103">
            Guru
        </td>
        <td align="left">
            @*<img id="Image5" src="~/Images/4yellowstars.jpeg" style="height:20px;width:80px" />*@
        </td>
        <td align="left">
            Amazon GiftCard <strong>$10</strong> for 4th time reaching MARK&nbsp;
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;</td>
        <td align="left" width="103">
            Scholar
        </td>
        <td align="left">
            @*<img id="Image6" src="~/Images/5Stars.jpeg" style="height:20px;width:100px" />*@
        </td>
        <td align="left">
            Amazon GiftCard <strong>$20</strong> for 5th time reaching MARK&nbsp;
        </td>
    </tr>

    <tr>
        <td>&nbsp;&nbsp;</td>
        <td width="103">
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            Amazon GiftCard <strong>$5</strong> for next everytime reaching MARK&nbsp;
        </td>
    </tr>

</table>
<div style="font-size:16px">
    <br />
    @Html.ActionLink("Register", "Users", "Account", null, new { style = "font-weight:bold;color:Blue;font-size:20px" })
    <br /><br />
    Amazon gift cards will be emailed to you and will be of Amazon of your
    respective country. So giftcards will be in your country currency equal to above
    mentioned amount.
    <br />
    <span style="color: #FF3300">
        For Ex - Users from India will receive from Amazon India in Rupees.
    </span><br />
    If this is not possible then we will email you of $ dollars by default.
    <br />
    <br />
</div>

<div style="font-size:large;font-weight:bold;">
    Recent Rewarded Users
</div>
<div id="content-1" style="padding-left:10%">
    <table style="width:80%; font-size:16px; font-family: Calibri;">
        <tr>

            <td align="left" valign="top" style="width:75%">
                <table style="width: 100%;">
                    <tr>
                        <td align="left" valign="top" style="height:20px;font-weight:bold">
                            Michael Anderson
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" style="font-size:13px">
                            Java Developer, work on Java and Android application. 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            Didn't expect to get rewarded for code blogging.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
<div id="content-2" style="padding-left:10%">
    <table style="width:80%; font-size:16px; font-family: Calibri;">
        <tr>

            <td align="left" valign="top" style="width:75%">
                <table style="width: 100%;">
                    <tr>
                        <td align="left" valign="top" style="height:20px;font-weight:bold">
                            Jeffrey Miller
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" style="font-size:13px">
                            Work mainly on Iphone application. Crazy about apple and love to explore everything about it. 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">

                            It was really good to know that bloggers would be rewarded initially, so started
                            using this and then when I recevied the reward in the email it was great.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>