@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
                $(document).ready(function () {
                    var divs = $('div[id^="content-"]').hide(),
                i = 0;
                    (function cycle() {
                        divs.eq(i).fadeIn(400)
                    .delay(2000)
                    .fadeOut(400, cycle);
                        i = ++i % divs.length;
                    })();
                });
</script>

<h2>Rewards</h2><br />

 <table style="font-family: Calibri; font-size: 16px;width:100%">
    <tr>
        <td align="left">
            <p>
                <span>
                    We have been developing software applications for more than decade now.
                    During our regular course of work we always strongly felt that users who post good articles, questions, answers online, 
                    should be appreciated by some means which can add some more value to it. This is because without these blogs today it 
                    would have been almost impossible to create an application or do our work at office.
                    So we started this application where in we thought we will reward code bloggers by emailing Amazon gifd cards as
                    the best possible thing to do.<br/>
                                       
                    We will be emailing you Amazon Gift Card emails each time you reach the MARK mentioned below, users can reach us if
                    they feel that they haven’t been considered yet. We will be validating your posts before emailing the rewards. For assistence please take
                    a look at <u>
                        @Html.ActionLink("Posting Guidelines", "PostingGuidelines", "Home", null, new { style = "font-weight:bold;color:Blue;" })
                    </u> <br />
                    @*<p>
                            We hope to make this code blogging more happier by making bloggers earn some rewards along with blogging.<u>
                                @Html.ActionLink("More about us", "About", "Home", null, new { style = "font-weight:bold;color:Blue;" })
                            </u>
                        </p><br />*@

        </td>
    </tr>
    <tr>
        <td align="left">
        <br />
        <table cellpadding="5" cellspacing="5" style="background-color:#ffccb3;border-radius:5px;width:70%">
            <tr>
                <td align="center"><b>MARK&nbsp;&nbsp;=</b></td><td>15 articles&nbsp;&nbsp;<b>OR</b>&nbsp;&nbsp;50 answers&nbsp;&nbsp;<b>OR</b>&nbsp;&nbsp;[10 articles + 25 answers]</td>
            </tr>
        </table>
        </td>
    </tr>
</table>
<br />
  <table cellpadding="5" cellspacing="5" style="background-color:#d9f8f6;border-radius:10px;width:70%;font-size:16px;padding-left:10px">
    <tr>
        <td align="center" style="width:10%">
            <img id="Img1" src="~/Images/MedalFilled1.png" style="height:60px;width:40px;" />
        </td>
        <td style="vertical-align:middle">
            Each time after reaching MARK, <b>Amazon Gift Card Email of $5</b> will be emailed as our appreciation and a <b>Star Medal</b> will be added to the user profile as the user reputation. 
        </td>
    </tr>
    </table>
<div style="font-size:16px">
    <br />
    @Html.ActionLink("Register", "Users", "Account", null, new { style = "font-weight:bold;color:Blue;font-size:20px" })
    <br /><br />
    Amazon gift cards will be emailed to you and will be of Amazon of your
    respective country. So giftcards will be in your country currency equal to above
    mentioned amount.
    <br />
    <span style="color: #FF3300">
        For Ex - Users from India will receive from Amazon India in Rupees.
    </span><br />
    If this is not possible then we will email you of $ dollars by default.
    <br />
    <br />
</div>

<div style="font-size:large;font-weight:bold;">
    Recent Rewarded Users
</div>
<div id="content-1" style="padding-left:10%">
    <table style="width:80%; font-size:16px; font-family: Calibri;">
        <tr>

            <td align="left" valign="top" style="width:75%">
                <table style="width: 100%;">
                    <tr>
                        <td align="left" valign="top" style="height:20px;font-weight:bold">
                            Michael Anderson
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" style="font-size:13px">
                            Java Developer, work on Java and Android application. 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            Didn't expect to get rewarded for code blogging.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
<div id="content-2" style="padding-left:10%">
    <table style="width:80%; font-size:16px; font-family: Calibri;">
        <tr>

            <td align="left" valign="top" style="width:75%">
                <table style="width: 100%;">
                    <tr>
                        <td align="left" valign="top" style="height:20px;font-weight:bold">
                            Jeffrey Miller
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" style="font-size:13px">
                            Work mainly on Iphone application. Crazy about apple and love to explore everything about it. 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">

                            It was really good to know that bloggers would be rewarded initially, so started
                            using this and then when I recevied the reward in the email it was great.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
