@{
    ViewBag.Title = "Code Analyze - Blogger Rewards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
                $(document).ready(function () {
                    var divs = $('div[id^="content-"]').hide(),
                i = 0;
                    (function cycle() {
                        divs.eq(i).fadeIn(400)
                    .delay(2000)
                    .fadeOut(400, cycle);
                        i = ++i % divs.length;
                    })();
                });
</script>

<h2>Rewards</h2><br />
    
  <table style="font-family: Calibri; font-size: 16px;width:100%">
    <tbody><tr>
        <td align="left">
            <p>
                <span>
                    We have been developing software applications for more than decade now.
                    During our regular course of work we always strongly felt that users who post good articles, questions, answers online, 
                    should be appreciated by some means which can add some more value to it. This is because without these blogs today it 
                    would have been almost impossible to create an application or do our work at office.
                    So we started this application where in we thought we will reward code bloggers with best possible thing we could.<br>
                                       
                    Users can reach us if they feel that they haven’t been considered yet. We will be validating your posts before emailing the rewards. For assistence please take
                    a look at 
                    <u>
                         @Html.ActionLink("Posting Guidelines", "PostingGuidelines", "Home", null, new { style = "font-weight:bold;color:Blue;" })
                    </u> <br>
                

        </span></p></td>
    </tr>
    <tr>
        <td align="left">
        <br>
        <table style="background-color:#ffccb3;border-radius:5px;width:70%" cellspacing="5" cellpadding="5">
            <tbody><tr>
                <td align="center"><b>MARK&nbsp;&nbsp;=</b></td><td>5 articles&nbsp;&nbsp;<b>OR</b>&nbsp;&nbsp;20 answers&nbsp;&nbsp;<b>OR</b>&nbsp;&nbsp;[3 articles + 10 answers]</td>
            </tr>
        </tbody></table>
        </td>
    </tr>
</tbody></table>
<br>
  <table style="background-color:#d9f8f6;border-radius:10px;width:90%;font-size:16px;padding-left:10px" cellspacing="5" cellpadding="5">
    <tbody><tr>
        <td style="width:10%" align="center">
           <img id="Img1" src="~/Images/MedalFilled1.png" style="height:60px;width:40px;" />
        </td>
        <td style="vertical-align:middle">
            Each time after reaching MARK, we will mail you one of your choices of rewards as our appreciation and a <b>Star Medal</b> will be added to the user profile as the user reputation. <br>
            Users with 5 Stars or more are considered as Special Users.<br>
Users can choose from the following rewards<br>
  1. O'Reilly EBooks (this will be an email)<br>
  2. Wireless mouse<br>
  3. 32GB Pen drive<br>   
  4. 16Gb San Disk<br>
  5. Stereo HeadSet<br>
  6. Any suggestions from the user are also welcome, we will process it if it is feasible.<br>
        </td>
    </tr>
    </tbody></table>
<br>
                    <br>
                    

<div style="font-size:large;font-weight:bold;">
    Recent Rewarded Users
</div>
<div id="content-1" style="padding-left:10%">
    <table style="width:80%; font-size:16px; font-family: Calibri;">
        <tbody><tr>
            <td style="width:75%" align="left" valign="top">
                <table style="width: 100%;">
                    <tbody><tr>
                        <td style="height:20px;font-weight:bold" align="left" valign="top">
                            Michael Anderson
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:13px" align="left" valign="top">
                            Java Developer, work on Java and Android application. 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            Didn't expect to get rewarded for code blogging.
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody></table>

</div>
<div id="content-2" style="padding-left:10%">
    <table style="width:80%; font-size:16px; font-family: Calibri;">
        <tbody><tr>
            <td style="width:75%" align="left" valign="top">
                <table style="width: 100%;">
                    <tbody><tr>
                        <td style="height:20px;font-weight:bold" align="left" valign="top">
                            Jeffrey Miller
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:13px" align="left" valign="top">
                            Work mainly on Iphone application. Crazy about apple and love to explore everything about it. 
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">

                            It was really good to know that bloggers would be rewarded initially, so started
                            using this and then when I recevied the reward it was great.
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody></table>
</div>
