   @{
        ViewBag.Title = "Demo - Date and Time picker using JQuery plugin in asp.net mvc with demo";
        Layout = "~/Areas/Demo/Views/Shared/_Layout.cshtml";
    } 
    <br/>
   



    <table style="width: 100%; font-family: Calibri">
            <tr>
                <td style="width:100%">
                    <span style="width: 90%; font-weight: bold; font-family: Calibri; color: #333; font-size: 24px">Demo - Date and Time picker using JQuery plugin in asp.net mvc with demo</span>
                </td>
            </tr>
    </table>   

    <link href="~/Areas/Demo/CSS/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Areas/Demo/CSS/jquery.datetimepicker.full.js"></script>

    <div class="container">
    <div class="row">
               <div class="col-sm-3"> 
                @Html.TextBox("datetimepicker")
               </div>
    </div>  
    </div> 



        <!--View-->
    <script type="text/javascript">
        $('#datetimepicker').datetimepicker();
    </script>

<p>
    <br>
    <table>
        <tr>
            <td align="center">
                <a id="btnSubmit" class="mysubmit" href="../../../../Articles/Details/20198/Date-and-Time-picker-using-JQuery-plugin-in-asp-net-mvc-with-demo" style="font-size: 24px">View Code</a>
            </td>
        </tr>
    </table>
</p>