.mysubmit {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:20px;
    font-weight:bold;
    font-family:Calibri;
    color:black;
    background-color:#F5E8AA;
    border: groove 1px lightgrey;
    width:auto;
    height:40px;
}


.mysubmit:hover {    
    background-color:#F3CD50;   
}



.mysubmitsmall {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:20px;
    font-weight:bold;
    font-family:Calibri;
    color:black;
    background-color:#F5E8AA;
    border:none;
    width:auto;
    height:35px;
    border: groove 1px #eff0f1;
}
 

.mysubmitsmall:hover {    
    background-color:#F3CD50;   
}



.mysearch {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:15px;
    font-weight:bold;
    font-family:Calibri;
    color:black;
    background-color:#F5E8AA;
    border:none;
    width:auto;
    height:25px;
     border: groove 1px #eff0f1;
}


.mysearch:hover {    
    background-color:#F3CD50;   
}



.mylink {
    font-size:20px;
    font-weight:bold;
    font-family:Calibri;
    color:blue;
    border:none;
    width:auto;
    height:40px;

}


.mylink:hover {    
    background-color:#F3CD50;   
    color:white;
}


.generalbutton {
    background-color:#F5E8AA;
}


.generalbutton:hover {    
    background-color:#F3CD50;   
}

.myText {
    height:30px;
    font-size:14px;
    border-radius:5px;
    border:solid;
    border-color:#eff0f1;
    border-width:1px;
}
