.mysubmit {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:20px;
    font-weight:bold;
    font-family:Calibri;
    color:white;
    background-color:#4fa4d5;
    border:none;
    width:auto;
    height:40px;
}


.mysubmit:hover {    
    background-color:#47cad4;   
}



.mysubmitsmall {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:20px;
    font-weight:bold;
    font-family:Calibri;
    color:white;
    background-color:#4fa4d5;
    border:none;
    width:auto;
    height:35px;
}


.mysubmitsmall:hover {    
    background-color:#47cad4;   
}



.mysearch {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size:15px;
    font-weight:bold;
    font-family:Calibri;
    color:white;
    background-color:#4fa4d5;
    border:none;
    width:auto;
    height:25px;
}


.mysearch:hover {    
    background-color:#47cad4;   
}



.mylink {
    font-size:20px;
    font-weight:bold;
    font-family:Calibri;
    color:blue;
    border:none;
    width:auto;
    height:40px;

}


.mylink:hover {    
    background-color:#47cad4;   
    color:white;
}


