
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}

<h2>Forgot Password</h2><br/>
@using (Html.BeginForm("ForgotPassword", "Account"))
{
<table style="width: 700px; height: 120px;padding-top:40px;">
    <tr><td align="center" colspan="3">
            <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.Ack</span>
      </td></tr>
    <tr>
        <td align="right" style="font-family: Calibri;">
            Enter EMail Id
        </td>
        <td>
            @Html.TextBox("txtEMailId", "", new { style = "border:groove;width:50%;border-width:1px" })

        @*</td>
        <td align="left">*@
            <input type="submit" value="Submit" id="btnForgotPassword" onclick="return ValidateForgotPassword()" class="mysubmitsmall" />
        </td>
    </tr>
</table>
}