
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password</h2><br/>
@using (Html.BeginForm("ForgotPassword", "Account"))
{
<table style="width: 700px; height: 120px;padding-top:40px;">
    <tr><td align="center" colspan="3">@ViewBag.Ack</td></tr>

    <tr valign="top">
        <td align="right" style="font-family: Calibri;">
            Enter EMail Id
        </td>
        <td>
            @Html.TextBox("txtEMailId", "", new { style = "border:groove;width:50%;border-width:1px" })

        @*</td>
        <td align="left">*@
            <input type="submit" value="Submit" id="btnForgotPassword" onclick="return ValidateForgotPassword()" style="border:none;color:white;background-color:#4fa4d5" />
        </td>
    </tr>
</table>
}