
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_NoGoogle.cshtml";
}

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<script src="~/js/Facebook.js"></script>
<script src="~/js/Google.js"></script>

<h2>Login</h2><br />


<div align="center" style="width:100%">

    <table style="font-size:16px;width:35%">

        <tr>
            <td align="center">
                <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.lblAck</span>
            </td>
        </tr>
        @using (Html.BeginForm("ProcessLogin", "Account"))
                {
            @*<tr>
                    <td align="left">EMail:</td>
                </tr>*@
            <tr>
                <td align="left">
                    EMail:<br />
                    @Html.TextBox("txtEMailId", "", new { style = "border:groove;width:92%;border-width:1px" })
                </td>
            </tr>

            <tr>
                <td align="left">
                    Password:<br />
                    @Html.Password("txtPassword", "", new { style = "border:groove;width:70%;border-width:1px" })
                    <input type="submit" value="Login" id="btnLogin" onclick="return ValidateLogin()" class="mysubmit" />
                </td>
            </tr>
                                }
        <tr>
            <td align="left">

                @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, new { style = "font-size:14px" })

            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td align="center">
                @*<table width="100%">
                    <tr>
                        <td align="center">*@
                            <input type="image" onclick="FaceBookLogin()" value="Test" style="height:35px;width:200px" src="~/Images/SignInWithFacebook.png" />
                        @*</td>
                        <td align="center">*@ <br />
                            <div id="my-signin2"></div>
                        </td>
                        @*<td align="center"></td>*@
                    </tr>
                @*</table>
            </td>
        </tr>*@

    </table>



</div>




