
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Login</h2><br />

    <table width="100%">
        <tr>
            <td align="center">

                <table style="font-size:16px" width="80%">

                    <tr>
                        <td align="center">
                            <span style="width: 100%; font-weight: bold; font-family: Calibri; color: Red">@ViewBag.lblAck</span>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                        @using (Html.BeginForm("ProcessLogin", "Account"))
                        {
                    <tr>

                        <td style="padding-left:4%;" align="center">
                            EMail:    @Html.TextBox("txtEMailId", "", new { style = "border:groove;width:34%;border-width:1px" })
                        </td>
                    </tr>
                    <tr>

                        <td align="center">
                            Password:  @Html.Password("txtPassword", "", new { style = "border:groove;width:25%;border-width:1px" })
                            <input type="submit" value="Login" id="btnLogin" onclick="return ValidateLogin()" style="border:none;color:white;background-color:#4fa4d5" />
                        </td>
                    </tr>
                    }
                    <tr>
                        <td style="padding-left:56%;">
                        @Html.ActionLink("Forgot Password", "ForgotPassword", "Account", null, new {style="font-size:14px" })
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td align="center">
                            <table width="100%">
                                <tr>
                                    <td align="center">
                                        <a href="~/UserProfileFB.aspx" id="btnLoginFB">
                                            <img src="~/Images/SignInWithFacebook.png" style="height:22px;width:150px" />
                                        </a>
                                      </td>
                                      <td align="center">
                                          <a href="~/UserProfileGoogle.aspx" id="btnLoginGoogle">
                                              <img src="~/Images/SignInWithGoogle.png" style="height:22px;width:150px" />
                                          </a>
                                    </td>

                                    <td align="center">
                             
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                </table>


            </td>
        </tr>
    </table>





