@{
    ViewBag.Title = "UnAns";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unanswered</h2><br />

<table style="width: 100%; font-size: 16px; word-wrap: normal; word-break: break-all;" >

    @foreach (CodeAnalyzeMVC2015.Models.QuestionModel questionModel in Model)
    {
        <tr>
            <td>
                <img id="imgArrow" src="~/Images/questions.png" style="width:20px;height:20px;"  />
            </td>
            <td>
                @{ 
                    string title = questionModel.QuestionTitle;
                    System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9 -]");
                    questionModel.QuestionTitle = rgx.Replace(questionModel.QuestionTitle, "");
                }
                @Html.ActionLink(title, "Soln", "Questions", new { id = questionModel.QuestionID, title = questionModel.QuestionTitle.ToString().Replace(" ","-") }, null)
            </td>
        </tr>
    }
</table>
